

body {
    background: rgba(121, 105, 105, 0.4);
}


.container{

    align-items: center;
    text-align: center;
    
    background-position: center;
    background-size: cover;
}


.flexcontainer1{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}



.flex1{
    padding: 3vh 16vh 3vh 16vh;
    background: rgba(236, 236, 236, 0.4);
    border-radius: 1vw;
    margin: 5vw -15vw 0 5vw  ;
}

.flex2{
    background: rgba(236, 236, 236, 0.4);
    padding: 3vh 16vh 3vh 16vh;
    border-radius: 1vw;
    margin: 5vw 5vw 0 0 ;
}

.flex3{
    background: rgba(236, 236, 236, 0.4);
    padding: 4vh 4vh 4vh 4vh;
    margin: 5vw 5vw 3vw 5vw ;
    border-radius: 1vw;
   
}

.flex4{
    background: rgba(236, 236, 236, 0.4);
    padding: 7vh 16vh 7vh 6vh;
    border-radius: 1vw;
   margin: auto;
    margin: 3vw 5vw 3vw 5vw ;
}

.flex5{
    background: rgba(236, 236, 236, 0.4);
    padding: 3vh 16vh 3vh 6vh;
    border-radius: 1vw;
   margin: auto;
    margin: 3vw 5vw 3vw 5vw ;
}



body {
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    }

.tablecontent{
    
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 10vh;
}

